<!DOCTYPE html>
<html>
  <body>
    <form
    method="POST" action="/upload" enctype="multipart/form-data">
    <img src="/{{ path }}" style="width: 100px; height: auto;" />
    <input type="file" name="upload">
    <Button type="submit">Simpan</Button>
    </form>
  </body>
</html>
