<!DOCTYPE html>
<html>
    <body>
        <form action="/user/new" method="POST">
            <label>Name:</label>
            <input name="name" value="{{ oldValue.name }}" type="text" />
            <p>{{ errorMessage.name }}</p>
            <Button type="submit">Save</Button>
        </form>
    </body>
</html>
