<!DOCTYPE html>
<html>
    <body>
        <form action="/user/new" method="POST">
            <label>Name:</label>
            <input name="name" type="text" />
            <Button type="submit">Submit</Button>
        </form>
    </body>
</html>