<!DOCTYPE html>
<html>
    <body>
        <a href="/user">to user index</a> |
        <a href="/user/{{ user.id }}/update">update</a>
        <p>id: {{ user.id }}</p>
        <p>name: {{ user.name }}</p>
    </body>
</html>