<!DOCTYPE html>
<html>
    <head>
      <title>Judul</title>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
      {{> styles}}
    </head>
    <body>
      {{{block "body"}}}
      {{> scripts}}
    </body>
</html>
